streamlit
pysqlite3-binary
sentence-transformers
chromadb
scikit-learn
beautifulsoup4
nltk
numpy
transformers
bs4
requests 
pandas
torch
transformers[torch] 
fastapi
uvicorn
python-dotenv
ipywidgets
#datasets pandas trl peft bitsandbytes

