streamlit
# This line installs pysqlite3-binary only on Linux systems
pysqlite3-binary ; sys_platform == "linux"
sentence-transformers
chromadb
scikit-learn
beautifulsoup4
nltk
numpy
transformers
bs4
requests 
pandas
torch
transformers[torch] 
fastapi
uvicorn
python-dotenv
ipywidgets

